### Java Compiled Files
*.class

### Java Package Files
*.jar
*.war
*.ear
*.apk

### General temp files
*.tmp
*.bak
*.swp
tmp/

### JetBrains template
*.iml
*.ipr
*.iws

### Plugin-specific files:
out/
**/.idea/**
**/.idea_modules/**
atlassian-ide-plugin.xml

### Gradle files, except for the gradle-wrapper
**/.gradle
**/build
**/.DS_Store
local.properties
captures
!**/gradle-wrapper.jar

### Private keys
**/private_keys.xml
**/google-services.json

### Ignore the entire org.eclipse folder (just using for now until next release fixes NPEs)
org.eclipse.paho.android.service*/