<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.grassroot.android">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- todo : narrow down which of these are truly needed -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="org.grassroot.android.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.techmorphosis.grassroot.permission.C2D_MESSAGE" />

    <application
        android:name=".services.GrassrootRestService"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a7c7f0c500c90b9563ff8801718ab0b391792bc3" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.techmorphosis.grassroot" />
            </intent-filter>
        </receiver>

        <service android:name=".services.GcmRegistrationService" />

        <!-- Core activities -->

        <activity
            android:name=".ui.activities.StartActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.HomeScreenActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.GroupTasksActivity"
            android:label="@string/title_activity_group_tasks"
            android:parentActivityName=".ui.activities.HomeScreenActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activities.NewTaskMenuActivity"
            android:noHistory="true" />

        <!-- Group management activities -->
        <activity
            android:name=".ui.activities.CreateGroupActivity"
            android:label="@string/title_activity_create__group"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activities.AddMembersActivity"
            android:label="@string/title_activity_add_members"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.RemoveMembersActivity"
            android:label="@string/title_activity_remove_members"
            android:parentActivityName=".ui.activities.GroupTasksActivity" /> <!-- todo: reorder to home -->

        <activity
            android:name=".ui.activities.GroupMembersActivity"
            android:label="@string/title_activity_group_members"
            android:parentActivityName=".ui.activities.HomeScreenActivity" />
        <activity
            android:name=".ui.activities.GroupJoinActivity"
            android:label="@string/title_activity_join__request" />

        <!-- Contact book and related activities -->
        <activity
            android:name=".ui.activities.AddContactManually"
            android:label="@string/title_activity_add_contact_manually"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activities.NotBuiltActivity"
            android:label="@string/title_activity_blank"
            android:theme="@style/AppTheme" />

        <!-- Meeting related activities -->

        <activity
            android:name=".ui.activities.CreateMeetingActivity"
            android:label="@string/cmtg_title"
            android:theme="@style/AppTheme" />

        <!-- Vote related activities -->

        <activity
            android:name=".ui.activities.ViewVoteActivity"
            android:exported="true"
            android:parentActivityName=".ui.activities.StartActivity">
            <intent-filter>
                <action android:name="VOTE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.StartActivity" />
        </activity>
        <activity
            android:name=".ui.activities.EditVoteActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.activities.ProfileSettings" />
        <activity
            android:name=".ui.activities.CreateVoteActivity"
            android:label="@string/title_activity_create_vote"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />

        <!-- Todo related activities -->
        <activity
            android:name=".ui.activities.CreateTodoActivity"
            android:label="@string/ctodo_title"
            android:theme="@style/AppTheme" />

        <!-- Navigation drawer / system activities -->
        <activity android:name=".ui.activities.NotificationCenter" />
        <activity android:name=".ui.activities.FAQActivity" />

        <service
            android:name=".services.GcmListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.InstanceIDListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service android:name=".services.GcmRegistrationService" />

    </application>

</manifest>