<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techmorphosis.grassroot">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activities.HomeScreen"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activities.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a7c7f0c500c90b9563ff8801718ab0b391792bc3" />

        <activity
            android:name=".ui.activities.Join_Request"
            android:label="@string/title_activity_join__request" />
        <activity
            android:name=".ui.activities.Create_Group"
            android:label="@string/title_activity_create__group"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activities.PhoneBookContacts"
            android:label="@string/title_activity_join__request" />
        <activity
            android:name=".contact.MainActivity"
            android:label="@string/title_activity_join__request" />
        <activity
            android:name=".ui.activities.DilogActivity"
            android:label="@string/title_activity_dilog"
            android:theme="@style/MyDialog" />
        <activity
            android:name=".ui.activities.AddContactManually"
            android:label="@string/title_activity_add_contact_manually"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activities.Blank"
            android:label="@string/title_activity_blank"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.activities.Group_Activities" />
        <activity android:name=".ui.activities.NewActivities" />
        <activity android:name=".ui.activities.ViewVote" />
        <activity android:name=".ui.activities.FAQFragment" />
        <activity
            android:name=".ui.activities.EditVote"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.activities.ProfileSettings">
            >
        </activity>
        <activity
            android:name=".ui.activities.CreateVote"
            android:label="@string/title_activity_create_vote"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.activities.VoteNotifyMembers" />
        <activity android:name=".ui.activities.NotificationCenter">
        </activity>
    </application>

</manifest>
